@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oswald:wght@200;300;400&family=Rubik&display=swap");
@font-face {
  font-family: 'Gothic';
  src: local("☺"), url("../fonts/GOTHIC.woff") format("woff"), url("../fonts/GOTHIC.ttf") format("truetype"), url("../fonts/GOTHIC.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-family: Montserrat;
  color: #FFFFFF;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1700px) {
  .container {
    max-width: 1430px;
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 1230px;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1130px;
  }
}

@media (max-width: 1110px) {
  .container {
    max-width: 930px;
  }
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: #295065;
  border-radius: 20px;
  border: 3px solid #fff;
}

.header__logo {
  margin: 20px 0px 25px 0px;
}

@media (max-width: 800px) {
  .header__logo {
    margin: 10px 0 0 0;
  }
}

.logo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .logo__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo__row :nth-child(2),
  .logo__row :nth-child(3) {
    display: none;
  }
}

.arrow {
  position: absolute;
  right: 0px;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.arrow.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__body {
  background: #479AB4;
  position: relative;
  z-index: 1;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 8px 0px;
}

.menu__list > li {
  position: relative;
  border: 1px solid #fff;
  background: #295065;
}

.menu__list > li:last-child {
  border-radius: 0 5px 5px 0;
}

.menu__list > li:first-child {
  border-radius: 5px 0 0 5px;
}

.menu__list > li .submenu {
  display: none;
  position: absolute;
  z-index: 2;
  left: 25px;
  min-width: 250px;
  padding-top: 2px;
}

.menu__list > li .submenu li a {
  border: 1px solid #fff;
  border-radius: 2px;
  display: block;
  color: #fff;
  padding: 7px 10px;
  background: #295065;
  font-size: 16px;
  margin-bottom: 1px;
}

.menu__list > li .submenu li a:hover {
  background: #617d8d;
}

.menu__list > li .submenu.open {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  margin: 0 auto;
}

.menu__list > li .submenu.open .submenu {
  position: static;
}

@media (min-width: 800px) {
  .menu__list > li:hover {
    background: #617d8d;
  }
  .menu__list > li:hover .submenu {
    display: block;
  }
}

.menu__link {
  position: relative;
  display: block;
  padding: 3px 30px;
  font-family: Gothic;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

.menu__link:last-child:after {
  display: none;
}

@media (max-width: 1500px) {
  .menu__link {
    font-size: 19px;
  }
}

@media (max-width: 1300px) {
  .menu__link {
    font-size: 18px;
    padding: 0 15px;
  }
}

@media (max-width: 1300px) {
  .menu__link {
    font-size: 17px;
    padding: 0 10px;
  }
}

@media (max-width: 1300px) {
  .menu__link {
    font-size: 15px;
    padding: 0 8px;
  }
}

@media (max-width: 800px) {
  .menu__body {
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #295065;
    left: 0;
    top: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    padding: 50px 0px 25px 0px;
    visibility: hidden;
    overflow: auto;
  }
  .menu__body.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    visibility: visible;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background: none;
  }
  .menu__list li {
    padding: 10px 0px 10px 0px;
    background: none;
    border: none;
  }
  .menu__list li:after {
    display: none;
  }
  .menu__link {
    text-shadow: none;
    color: #fff;
    font-size: 20px;
    padding: 8px 40px;
  }
}

@media (max-width: 800px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
  }
  .icon-menu span {
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #666;
    -webkit-box-shadow: 0 0 5px #fff;
            box-shadow: 0 0 5px #fff;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
}

.icon-menu.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.icon-menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.icon-menu.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
}

.slide_01 {
  background: url("../img/slider/01.jpg") center/cover no-repeat;
}

.slide_02 {
  background: url("../img/slider/02.png") center/cover no-repeat;
}

.slide_03 {
  background: url("../img/slider/03.jpg") center/cover no-repeat;
}

.slide_04 {
  background: url("../img/slider/04.jpg") center/cover no-repeat;
}

.slide_05 {
  background: url("../img/slider/05.jpg") center/cover no-repeat;
}

.slide__text {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: Oswald;
  font-size: 36px;
  font-weight: 200;
  background: rgba(40, 80, 100, 0.8);
  border-radius: 8px;
  padding: 8px 15px 10px 15px;
}

@media (max-width: 800px) {
  .slide__text {
    font-size: 22px;
    left: 35%;
    -webkit-transform: translate(-35%, 0);
            transform: translate(-35%, 0);
    bottom: 25%;
  }
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slide {
  height: 33vh;
  position: relative;
}

.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots li:not(:last-child) {
  padding-right: 15px;
}

.slick-dots li button {
  font-size: 0;
  background: none;
}

.slick-dots li button::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #164352;
  border-radius: 50%;
  background: #164352;
}

.slick-dots li.slick-active button:after {
  background: #fff;
}

@media (max-width: 800px) {
  .slick-dots {
    bottom: 20px;
  }
  .slick-dots li button::after {
    width: 10px;
    height: 10px;
    border: 2px solid #164352;
  }
}

.title {
  font-family: Oswald;
  font-size: 64px;
  line-height: 95px;
  text-transform: uppercase;
  color: #285064;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__row_bf {
  padding-top: 30px;
  position: relative;
}

.content__row_bf:before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  display: block;
  width: 100%;
  height: 75px;
  background: url(../img/elements/untitled.svg) center/100% no-repeat;
}

@media (max-width: 800px) {
  .content__row_bf:before {
    background: url(../img/elements/untitled_m.svg) center/100% no-repeat;
  }
}

@media (max-width: 800px) {
  .content__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content__column {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: -webkit-gradient(linear, left bottom, left top, from(#2D7E97), to(#2D7E97));
  background: linear-gradient(0deg, #2D7E97, #2D7E97);
  padding: 40px 0;
}

.content__column_big {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.column__title {
  z-index: 0;
  position: relative;
  font-size: 48px;
  line-height: 89px;
  padding: 0px 10px 10px 0px;
  color: #fff;
}

.column__title:after {
  content: '';
  display: block;
  background: #164352;
  height: 15px;
  width: 100%;
  position: absolute;
  bottom: 33px;
  left: -30px;
  z-index: -1;
}

.column__text {
  font-size: 20px;
  font-weight: medium;
  text-align: justify;
  text-transform: uppercase;
  line-height: 26px;
  padding: 0px 40px 0px 0px;
}

.column__text p {
  padding-bottom: 30px;
}

.column__img {
  max-width: 311px;
  max-height: 425px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.column__label {
  display: block;
  max-width: 379px;
  margin: 0 auto;
  text-align: center;
  background: #164352;
  border-radius: 20px;
  padding: 13px 20px;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .column__title {
    text-align: center;
    font-size: 42px;
  }
  .column__title:after {
    left: 0;
    bottom: 36px;
  }
  .column__text {
    font-size: 17px;
    line-height: 20px;
    padding: 0 20px;
  }
  .column__text p {
    padding-bottom: 10px;
  }
  .column {
    position: relative;
    padding: 25px 0;
  }
  .column__label {
    max-width: 320px;
    padding: 8px 12px;
  }
  .column__img {
    max-width: 200px;
  }
}

.news {
  background: -webkit-gradient(linear, left bottom, left top, from(#2D7E97), to(#2D7E97));
  background: linear-gradient(0deg, #2D7E97, #2D7E97);
}

.news__title {
  text-align: center;
  border-top: 20px solid #D9F2FF;
  border-bottom: 20px solid #D9F2FF;
  background: #fff;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 45px 0px 0px 0px;
}

.news__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin: 0px 0px 35px 0px;
}

.news__block:not(:nth-child(2n)) {
  margin-right: 80px;
}

.news__button {
  padding: 0px 0px 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__button a {
  background: rgba(217, 242, 255, 0.8);
  border-radius: 10px;
  line-height: 17px;
  text-transform: uppercase;
  color: #285064;
  padding: 7px 15px 7px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.news__button a:hover {
  background: #285064;
  color: rgba(217, 242, 255, 0.8);
}

@media (max-width: 800px) {
  .news__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__block {
    border-radius: 5px;
    margin: 10px 8px;
  }
  .news__block:not(:nth-child(2n)) {
    margin: 10px 8px;
  }
  .news__title {
    font-size: 48px;
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(40, 80, 100, 0.47);
  border-radius: 0 25px 25px 0;
  padding: 18px 0px 18px 35px;
}

.block__title {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 13px;
}

.block__description {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #D9F2FF;
  padding: 0px 10px 0px 0px;
}

.block__icon {
  position: absolute;
  bottom: 12px;
  right: 40px;
  display: block;
  width: 55px;
  height: 16px;
  background: url(../img/icons/news__arrow.svg) center no-repeat;
}

@media (max-width: 800px) {
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block__content {
    border-radius: 8px;
    padding: 9px 0px 9px 17px;
  }
  .block__image {
    display: none;
  }
  .block__icon {
    position: static;
    margin: 10px auto;
  }
  .block__title {
    font-size: 20px;
  }
  .block__description {
    font-size: 16px;
  }
}

object {
  display: block;
}
